<footer class="navbar navbar-light bg-light borer-top">
    <div class="container-fluid text-center my-auto">
        <div class="col-sm-12 d-inline-block small">
                2020 Copyright © <a class="text-decoration-none" href="https://caramella.kr" target="_blank" title="(주)카라멜라 홈페이지로 이동">(주)카라멜라 caramella.kr</a>
        </div>
    </div>
</footer>
