<footer class="navbar navbar-light bg-light borer-top">
    <div class="container-fluid text-center my-auto">
        <div class="col-sm-12 d-inline-block small">
            <ul class="list-inline mt-2 mb-0">
                <li class="list-inline-item"><span class="list-name">Company </span>Caramella Inc.</li>
                <li class="list-inline-item"><span class="list-name">Address </span>광주광역시 동구 서남로 14, 4층 405호(서석동) [61468]</li>
                <li class="list-inline-item"><span class="list-name">Tel </span>1811-9573</li>
                <li class="list-inline-item"><span class="list-name">E-mail </span>pm@caramella.kr</li>
            </ul>
            <ul>
                <li>
                    Copyright © 2020 Caramella Inc.
                    <a class="text-decoration-none" href="https://caramella.kr" target="_blank" title="(주)카라멜라 홈페이지로 이동">
                        caramella.kr
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
