UPDATE TIME : <span class="last_update"></span>
(<a class="text-decoration-none text-light" href="http://news.kbs.co.kr/common/main.html" target="_blank" title="새 창으로 이동">KBS</a>, 
<a class="text-decoration-none text-light" href="http://xn--now-po7lf48dlsm0ya109f.kr/infect/occurrence_list.do" target="_blank" title="새 창으로 이동">질병관리본부, 
<a class="text-decoration-none text-light" href="https://www.gwangju.go.kr/c19/" target="_blank" title="새 창으로 이동">광주광역시청</a>)